.y-axis line {
    opacity: .2;
}

svg {
    padding: 10px;
}

.y-axis path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke-width: 1.5px;
    opacity: .75;
}

.interaction {
    fill: none;
    pointer-events: all;
}

.lineHoverText {
    text-shadow: -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.hoverCircle {
    opacity: .75;

}
/* div.tooltip{
    position: absolute;
    text-align: left;
    width: 100px;
    height: 100px;
    padding: 2px;
    font: 12px Helvetica, sans-serif;
    color: white;
    background: rgb(44,44,61);
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
} */

div.tooltip{
    position: absolute;
    text-align: left;
    width: 80px;
    height: 100px;
    padding: 2px;
    font: 12px Helvetica, sans-serif;
    background: rgb(222, 226, 228);
    border: 1px;
    border-radius: 5px;
    pointer-events: none;
}




body{
    font-size: 14px;
    font-family: 'Lato', 'sans-serif';
    /* background-color: rgb(44,44,61); */
}


.flex-content {
    margin-top: 10px;
    margin-left: 15px;
    /* outline: 1px solid #ccc; */
  }